
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap');

.Test{  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAAXNSR0IArs4c6QAAABxJREFUGFdjXHRv8X8GHIARJBmnFMuITX7QSQIAq38bKmG2hDAAAAAASUVORK5CYII=
       ) repeat;
       }

    
#test {
    display: grid;
    place-items: center;
}   

ul li{
    display: inline-block;
    justify-content: center;
    margin: 15px 0 0;
    padding: 5px 5px;
}

nav ul{
    list-style: none;
    background-color: seagreen;
    padding: 1em 4em 1em 4em;
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    color: rgb(255, 251, 251);
    text-decoration: none;
    font-weight: normal;
    padding: 10px;
  }

  a:hover {
    color: rgb(227, 95, 161);
  }

h2{
    font-family: 'Kaisei Decol', serif; 
}

h3{
    font-family: 'Kaisei Decol', serif;
    background-image: linear-gradient(to right, rgb(127, 214, 175) , rgb(239, 157, 197));
}

a:link, a:visited {
    background-color: #ebbdba;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
a:hover, a:active {
    background-color: rgb(231, 148, 190);
  }


